node_modules
build
.env
.env.*
.vscode
test
.idea/
logs/
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
coverage/
prisma/*.db
prisma/*.db-journal
*.sqlite
database/*.db
database/*.db-journal
tsconfig.tsbuildinfo